{% extends "inventory/layout.html" %}

{% load static %}

{% block content %}
<div class="content-section d-flex justify-content-center align-items-center">
    <div class="p-4 shadow rounded-lg" style="background-color: #EAEAEA; width: 650px; border: 1px solid #CCC; border-radius: 10px;">
        {{ form.media }}
        <form method="POST">
            <fieldset>
                <legend class="border-bottom pd-2 mb-4 text-center">Registration Form</legend>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-group pt-4">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
