{% extends "inventory/layout.html" %}

{% block content %}

<div class="content-section">
  <div class="row mx-auto justify-content-center">

    <div class="card m-4" style="width: 90%;">
      <div class="card-body">
        <div class="chart-container" id="chart1"></div>
      </div>
    </div>

    <div class="card m-4" style="width: 90%;">
      <div class="card-body">
        <div class="chart-container" id="chart2"></div>
      </div>
    </div>

    <div class="card m-4" style="width: 90%;">
      <div class="card-body">
        <div class="chart-container" id="chart3"></div>
      </div>
    </div>

    <div class="card m-4" style="width: 90%;">
      <div class="card-body">
        <div class="chart-container" id="chart4"></div>
      </div>
    </div>

  </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  function createPlotlyChart(containerId, graphData) {
    Plotly.newPlot(containerId, graphData, {});
  }

  // Initial chart creation
  createPlotlyChart("chart1", {{ daily_product_sales_graph| safe }});
  createPlotlyChart("chart2", {{ highest_sales_graph| safe }});
  createPlotlyChart("chart3", {{ most_sold_products| safe }});
  createPlotlyChart("chart4", {{ most_product_in_stock| safe }});

  // Attach window resize event listener to adjust chart size
  window.addEventListener("resize", function() {
    createPlotlyChart("chart1", {{ daily_product_sales_graph| safe }});
    createPlotlyChart("chart2", {{ highest_sales_graph| safe }});
    createPlotlyChart("chart3", {{ most_sold_products| safe }});
    createPlotlyChart("chart4", {{ most_product_in_stock| safe }});
  });
</script>
{% endblock %}
