{% extends "inventory/layout.html" %}

{% block content %}
<div class="content-section">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hovet">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity In Stock</th>
                    <th scope="col">Quantity Sold</th>
                    <th scope="col">Cost Per Item</th>
                    <th scope="col">Sales or Revenue</th>
                    <th scope="col">Last Sales Date</th>
                </tr>
            </thead>
            <tbody id="inventory-table-body">
                {% for inventory in all_products %}
                    <tr data-product-id="{{ inventory.pk }}" style="cursor: pointer;">
                        <th scope="col" class="cell" data-label="#">{{ forloop.counter }}</th>
                        <th scope="col" class="cell" data-label="Name">{{ inventory.name }}</th>
                        <th scope="col" class="cell" data-label="Quantitiy In Stock">
                            <span id="quantity-in-stock-{{inventory.pk}}">{{ inventory.quantity_in_stock }}</span>
                            <button class="add-stock-button" data-product-id="{{ inventory.pk }}" >
                                <i class="fas fa-plus-circle add-stock-icon" data-product-id="{{ inventory.pk }}"></i> <!-- Font Awesome icon for Add Stock -->
                            </button>
                            <!-- Add Stock Form -->
                            <div class="add-form" id="add-stock-form-{{ inventory.pk }}" style="display: none;">
                                <input type="number" id="add-stock-input-{{ inventory.pk }}" min="0" step="1" vancliclue="0" autofocus>
                                <button class="confirm-stock-button" data-product-id="{{ inventory.pk }}" onclick="confirmStock(event, {{ inventory.pk }})">
                                    Add
                                </button>
                            </div>
                        </th>
                        <th scope="col" class="cell" data-label="Quantity Sold">
                            <span id="quantity-sold-{{inventory.pk}}">{{ inventory.quantity_sold }}</span>
                            <button class="add-sale-button" data-product-id="{{ inventory.pk }}">
                                <i class="fas fa-plus-circle add-sale-icon" data-product-id="{{ inventory.pk }}"></i> <!-- Font Awesome icon for Add Sale -->
                            </button>
                            <!-- Sale Form -->
                                <div class="add-form" id="add-sale-form-{{ inventory.pk }}" style="display: none;">
                                    <input type="number" id="add-sale-input-{{ inventory.pk }}" min="0" step="1" value="0" autofocus>
                                    <button class="confirm-sale-button " data-product-id="{{ inventory.pk }}" onclick="confirmSale(event, {{ inventory.pk }})">
                                        Add
                                    </button>
                                </div>
                        </th>
                        <th scope="col" class="cell" data-label="Cost Per Item">${{ inventory.cost_per_item }}</th>
                        <th scope="col" class="cell" data-label="Sales or Revenue">
                            <span id="sales-{{inventory.pk}}">${{ inventory.sales }}</span>
                        </th>
                        <th scope="col" class="cell" data-label="Last Sales Date">{{ inventory.formatted_last_sales_date }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
